{% extends 'base.html' %}

{% load i18n %}
{% load url from future %}

{% block meta_title %}{% trans "Password reset" %} - {{ block.super }}{% endblock %}
{% block meta_description %}{% trans "Password reset" %}{% endblock %}

{% block class %}{{ block.super }} account{% endblock %}
{% block content %}
{{ block.super }}
<h1>{% trans "Password reset" %}</h1>
<div class="row">
    <div class="span8">
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
        <form method="post" class="form-horizontal">
            <fieldset>
                {% csrf_token %}
                {{ form }}
                <div class="form-actions">
                    <input type="submit" value="{% trans 'Reset my password' %}" class="button button-blue" />
                    <a href="{% url 'main:index' %}">{% trans "Cancel"%}</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
