{% extends 'base.html' %}

{% load i18n %}
{% load url from future %}

{% block meta_title %}{% trans "Profile" %} - {{ block.super }}{% endblock %}
{% block meta_description %}{% trans "Profile" %}{% endblock %}


{% block class %}{{ block.super }} account{% endblock %}
{% block content %}
{{ block.super }}
<h1>{{ user.first_name }}'s profile</h1>
<div class="row">
    <div class="span8">
        <form method="post" class="form-horizontal">
            <fieldset>
                {% csrf_token %}
                {{ form }}
                <div class="form-actions">
                    <input type="submit" value="{% trans 'Save' %}" class="button button-blue" />
                    <a class="" href="{% url 'account:password_change' %}">{%trans "Change password"%}</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}