<!DOCTYPE html>
<html lang="en">
{% load cms_tags %}
{% load sekizai_tags %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block meta_title %}PyCon Uruguay 2012{% endblock %}</title>
    <meta name="google-site-verification" content="L4HvjHSKSfiDxNqUinRMfGfccO_-OKQIgVjKrUDxkYc">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}PyCon Uruguay 2012{% endblock %}">
    <meta name="author" content="PyCon">

    {% block css %}
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'jquery/css/jquery-ui.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% endblock %}
    {% render_block "css" %}

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34567277-2']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body class="{% block class %}no-slider{% endblock %}">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {% cms_toolbar %}
    <header>
        {% block slider %}
        <div class="header-back">

        </div>
        {% endblock %}
        <div class="menu-box">
            <div class="row">
                <div class="span3">
                    {% block logo %}
                    <a class="logo" href="{% url 'main:index' %}">
                        <img src="{% static 'img/pycon-logo.png' %}" />
                        <span class="text">PyCon 2012 Uruguay</span>
                    </a>
                    {% endblock %}
                </div>
                <div class="span9 pull-right">
                    <ul class="menu-list">
                        <li class="menu-normal pull-left">
                            <a href="{% page_id_url 'about' %}">{% trans 'About' %}</a>
                        </li>
                        <li class="menu pull-left">
                            <a href="{% url 'account:sign_up' %}">{% trans 'Registration' %}</a>
                            <ul>
                                {% if user.is_authenticated %}
                                    <li><a class="sub_menu" href="{% url 'account:profile' %}">{% trans 'My Profile' %}</a></li>
                                    <li><a class="sub_menu" href="{% url 'account:sign_out' %}">{% trans 'Sign Out' %}</a></li>
                                {% else %}
                                    <li><a class="sub_menu" href="{% url 'account:sign_in' %}">{% trans 'Sign In' %}</a></li>
                                    <li><a class="sub_menu" href="{% url 'account:sign_up' %}">{% trans 'Sign Up' %}</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="menu pull-left">
                            <a href="#">{% trans 'Schedule' %}</a>
                            <ul>
                                <li><a class="sub_menu" href="{% url 'main:talks' %}">{% trans 'Talks' %}</a></li>
                                <li><a class="sub_menu" href="{% url 'main:speakers' %}">{% trans 'Speakers' %}</a></li>
                                <li><a class="sub_menu" href="{% url 'main:schedule' %}">{% trans 'Conference Schedule' %}</a></li>
                            </ul>
                        </li>
                        <li class="menu-normal pull-left">
                            <a href="{% url 'main:sponsors' %}">{% trans 'Sponsors' %}</a>
                        </li>
                        <li class="menu pull-left">
                            <a href="#">{% trans 'Venue' %}</a>
                            <ul>
                                <li><a class="sub_menu" href="{% page_id_url 'place' %}">{% trans 'The Place' %}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="links" >
                        {% if user.is_authenticated %}
                        <li><a class="sub_menu" href="{% url 'account:profile' %}">{% trans 'My Profile' %}</a></li>
                        {% else %}
                        <li><a class="sub_menu" href="{% url 'account:sign' %}">{% trans 'Sign In' %}</a></li>
                        {% endif %}
                        {% if LANGUAGE_CODE == 'es' %}
                        <li><a  href="/en/"><img class="flags" src="{% static 'img/gb.png' %}" /> English</a></li>
                        {% else %}
                        <li><a href="/es/"><img class="flags" src="{% static 'img/es.png' %}" /> Español</a></li>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
    </header>
    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}{% endblock %}
        {% placeholder content%}
    </div>
    <footer>
        <ul>
            <li><a href="#">{% trans 'Back to top' %}</a></li>
            <li><a href="{% page_id_url 'place' %}">{% trans 'Venue' %}</a></li>
            <li><a href="{% url 'main:schedule' %}">{% trans 'Schedule' %}</a></li>
            <li><a href="{% url 'account:sign_up' %}">{% trans 'Registration' %}</a></li>
            <li><a href="{% page_id_url 'about' %}">{% trans 'About' %}</a></li>
        </ul>
        {% block footer %}
        <span class="rights">{% trans 'PyCon UY 2012 is a production of the' %} <a href="/">PyUy</a>. {% trans 'Site built and hosted by' %} <a class="builder" href="http://sophilabs.com">Sophilabs</a>.</span>
        {% endblock %}
    </footer>
    {% block js %}
    <script src="{% static 'jquery/js/jquery.js' %}"></script>
    <script src="{% static 'jquery/js/jquery-ui.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script type="text/javascript" charset="utf-8">
        $(window).load(function() {
            $('.flexslider').flexslider({slideshowSpeed: '10000'});
        });
    </script>
    {% endblock %}
    {% render_block "js" %}
</body>
</html>
