@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
}

body {
    background-color: #f5f5f5;
}

body, label, input, button, select, textarea, p {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1 {
    font-weight: normal;
    margin: 20px 0;
    color: #094BA4;
}

h2 {
    font-weight: normal;
    margin: 12px 0;
    color: #094BA4;
}

h3 {
    font-weight: normal;
    margin: 12px 0;
    color: #094BA4;
}

h1 small {
    margin-left: 10px;
    color: #6fa8e7;!important
}

p {
    margin: 0 0 12px 0;
    line-height: 1.5em;
}

a, a:visited {
    text-decoration: none;
    color: #094BA4;
}
a:hover {
    text-decoration: none;
    color: #0c3966;
}

.menu-box {
    width: 940px;
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -470px;
}

form {
    margin: 18px 0;
}

.logo > .text {
    display: none;
}
.logo:hover {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    top:0;
    width: auto;
}

.form-horizontal textarea {
    height: 60px;
    width: 80%;
}

.container > .row {
    margin-bottom: 50px;
}

.button {
    padding: 5px 14px;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    border-radius: 2px;
    display: inline-block;
    border: 0;
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.button.common {
    clear: both;
}
.button.over {
    margin-right: 15px;
    margin-top: -15px;
}

.button:hover, .button:visited {
    text-decoration: none;
    color: #fff;
}

.button:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.button-yellow {
    background-color: #ffbe00;
}
.button-yellow:hover {
    background-color: #FFAD00;
}

.button-blue {
    background-color: #094ba4;
}
.button-blue:hover {
    background-color: #093E7C;
}

footer {
    min-width: 940px;
    width: 100%;
    background-color: #094ba4;
    color: white;
    margin: 30px 0 0 0;
    font-size: 13px;
}

.list-text li{
    margin-bottom: 7px;

}

footer ul {
    list-style: none;
}
footer > ul li {
    float: right;
}
footer ul li a, footer ul li a:visited {
    color: #ffffff;
    line-height: 35px;
    padding: 0 10px;
    display: inline-block;
}
footer ul li a:hover {
    background-color: #6FA8E7;
    text-decoration: none;
}

footer .rights {
    color: #5689c8;
    line-height: 35px;
    margin: 0 0 0 10px
}
footer .rights a , footer .rights a:visited {
    color: #5689c8;
}
footer .rights a:hover {
    color: #ffffff;
    text-decoration: none;
}
.menu-box ul li ul {
    position: absolute;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
    background-color: white;
    opacity: 0;
    left: -999em;
    -webkit-transition: left 0 ease 0.3s,opacity 0.3s ease;
    margin: 0;
}
.menu-box ul li:hover ul {
    opacity: 1;
    left: 0;
    -webkit-transition:opacity 0.3s ease;
}
.menu-box ul li:hover {
    background-color: white;
}
.menu-box li {
    list-style: none;
}

.menu-box ul li {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.menu {
    position: relative;
}
.menu a {
    display: block;
    margin: 0;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 16px;
}
.menu-normal a {
    display: block;
    margin: 0;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.menu-normal:hover a{
    color: #094ba4;
}

.menu:hover > a {
    color: #094ba4;
}

.menu > a {
    color: white;
    padding: 5px 30px 5px 15px;
    background: transparent url('../img/small-down-arrow-active.png') no-repeat right;
}
.menu a.sub_menu {
    color: #222129;
    background-color: white;
    width: 100%;
    height: 100%;
    font-size: 14px;
}
.menu a.sub_menu:hover {
    background-color: #eeeeee;
    color: #5173ff;
}

.flexslider {
    min-height: 592px;
    overflow: hidden;
    min-width: 940px;
    border: none;
    padding: 0;
    webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.09);
    -o-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.09);
    margin: 0;
    border-bottom: 4px solid #FFBE00;
}



.flexslider .slides img {
    top: -50%;
}
.flex-direction-nav a {
    margin: -20px 60px 0 60px;
}
.container {
    margin-top: -120px;
    background-color: white;
    z-index: 100;
    position: relative;
    padding: 10px 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    min-height: 500px;
}
.menu-list {
    margin-top: 20px;
    margin-left: 0;
    float: left;
}

.sponsor-level {
    margin-bottom: 20px;
}

.sponsor-level h2 {
    margin: 0;
    font-size: 18px;
}
.sponsor-logo {
    width: 185px;
    height: 46px;
    float: left;
    margin: 0 10px 10px 0;
    overflow: hidden;
}

.Diamond .sponsor-logo{
    width: 220px;
    height: 139px;
}

.Platinum .sponsor-logo{
    width: 205px;
    height: 129px;
}

.Supporting .sponsor-logo{
    width: 130px;
    height: 32px;
}

.sponsor-logo img {
    display: block;
}

.sponsor-logo:hover img {
    margin-top: -46px;
}

.Supporting .sponsor-logo:hover img {
    margin-top: -32px;
}

.Diamond .sponsor-logo:hover img {
    margin-top: 0;
}

.Platinum .sponsor-logo:hover img {
    margin-top: 0;
}

.flexslider .notes {
    width: 940px;
    position: absolute;
    bottom: 127px;
    left: 50%;
    margin-left: -470px;
    color: white;
}
.flexslider .notes a {
    color: white;
    padding: 4px 8px;
}
.flexslider .notes a:hover {
    color: #005580;
    background-color: white;
    text-decoration: none;
}
.slider-box {
    width: 670px;
    position: absolute;
    bottom: 125px;
    left: 50%;
    margin-left: -470px;
    color: white;
    font-weight: bold;
    padding: 20px 0 0 300px;
}
.slider-box h1 {
    margin: 10px 0;
}
.slider-box p {
    margin-left: 20px;
    font-size: 22px;
    line-height: 34px;
    font-weight: normal;
}
.slider-box section {
    padding: 10px;
}
.slider-box section.std-box {
    background-color: rgba(78, 137, 196, 0.7);
}
.slider-box section h1 {
    color: #ffbe00;
}
.slider-box section.black-box {
    background-color: rgba(3, 2, 0, 0.7);
}
.slider-box section.green-box {
    background-color: rgba(0, 72, 61, 0.7);
}
.slider-box section.lightgreen-box {
    background-color: rgba(57, 75, 35, 0.7);
}
.slider-box section.white-box {
    background-color: rgba(255, 255, 255, 0.7);
    opacity:0.9;
}
.slider-box section.white-box h1 {
    color: #333333;
}
.slider-box section.white-box p {
    color: #094BA4;
}
.slider-box section.pink-box {
    background-color: rgba(122, 109, 135, 0.7);
}
.slider-box section.darkblue-box {
    background-color: rgba(17, 23, 37, 0.7);
}
.slider-box section.waterblue-box {
    background-color: rgba(22, 50, 90, 0.7);
}
.header-back {
    height: 200px;
    display: block;
    background-color: #094BA4;
    border-bottom: 4px solid #FFBE00;
}
.no-slider .container {
    margin-top: -40px;
}

.date {
    margin: 10px;
    padding-bottom: 10px;
    color: #7A7A7A;
}

/** Override bootstrap **/

.form-horizontal .form-actions {
    background-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 0;
}

ul.links {
    float: right;
    margin-top: 20px;
    line-height: 18px;
    margin-left: 0;
}

ul.links li {
    float: left;
}

ul.links li a {
    color: #dcdcdc;
    padding: 5px 15px 5px 15px;
    display: block;
}
ul.links li  a:visited {
    color: #dcdcdc;

}
ul.links li a:hover {
    background: #ffffff;
    color: #094ba4;

}

.flags {
    padding-bottom: 3px;
    padding-right: 2px;
}

.about-small{
    background-color: #F8F8F8;
    padding: 10px;
    line-height: 23px;

}
.twitter-link * {
    float: right;
    margin:2px;

}

ul.messages { text-align: center; color: #000;border:1px solid #C8DCC2; margin:0 0; margin-top: 20px; }
ul.messages li { background: none; padding-left: 5px; padding-top: 8px; padding-bottom: 8px;font-size: 1.2em; color: #094BA4; }
ul.messages li.debug{ background: #EEFAEA; padding: 0.5em, 0 0.5em 0; list-style: none;}
ul.messages li.info{ background: #EEFAEA; padding: 0.5em, 0 0.5em 0; list-style: none;}
ul.messages li.success{ background: #EEFAEA; padding: 0.5em, 0 0.5em 0; list-style: none;}
ul.messages li.warning{ background: #FF3333; padding: 0.5em, 0 0.5em 0; list-style: none;}
ul.messages li.error{ background: #FF3333; padding: 5px, 0 5px 0; list-style: none;}

.button-blue.register {
	position: absolute;
	top: 261px;
	z-index: 9999;
	font-size: 28px;
	left: 178px;
	line-height: 33px;
}

.button-blue.register.speakers {
	margin-top: 20px;
	font-size: 24px;
	line-height: 24px;
	position: static;
}

.button-yellow.talks {
	position: absolute;
	top: 327px;
	z-index: 9999;
	font-size: 28px;
	left: 178px;
	line-height: 33px;
}

.row.proposal.headline h2 {
	margin-bottom: 5px;
}

.proposal.speaker img {
	height: 75px;
}

h2.speaker {
	margin: 0;
}

.row.speaker {
	margin-bottom: 30px;
}

.table tbody tr.accreditation td {
  background-color: #d9d9d9;
}

.table tbody tr.accreditation td[colspan="3"] {
	text-align:center;
}

.table tbody tr.break td {
  background-color: #93c47d;
}

.table tbody tr td[colspan="3"] {
	text-align:center;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: transparent;
}

.table tbody tr.accreditation:hover td {
  background-color: #d9d9d9;
}

.table tbody tr.break:hover td{
  background-color: #93c47d;
}