{% extends 'main.html' %}

{% load i18n %}
{% load background_tags  %}

{% block meta_title %}{% trans 'About' %} - {{ block.super }}{% endblock %}
{% block meta_description %}{% trans 'About PyCon 2012 Uruguay' %}{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block slider %}
<div class="header-back">

</div>
{% endblock %}
{% block class %}no-slider about{% endblock %}
{% block content %}
    <div class="row">
        <div class="span12 pull-left">
            <h1 class="box-title"> 'About' <small class="small">What is PyCon Uruguay?' </small></h1>
            <p class="box-text">PyCon is the annual conference for the community using and developing the open-source Python programming language.
                <strong>PyConUy 2012 is the first edition</strong> of the PyCon event organized by the Uruguayan Python community that mainly seeks to introduce and promote this wonderful language in Uruguay and the region.
                Our goal is to offer universal access to Python and related tools, that's why we keep the registration at FREE cost, thanks to many volunteers and sponsors.

            </p>
            <p>
                {% blocktrans %}We have been already conquered by python and are now committed to bringing it to the edge. It is time that you also meet it and start building beautiful software together.{% endblocktrans %}
            </p>
        </div>
        <div class="span12 pull-left">
            <h1 class="box-title">{% trans 'Contact Us' %}<small class="small"></small></h1>
            <p class="box-text">
                {% blocktrans %}
                Please, don't hesitate to contact us if you have any inquiry:
                {% endblocktrans %}
            </p>
            <a href="mailto:pycon2012@python.org.uy">pycon2012@python.org.uy</a>
            <p class="box-text">
                {% blocktrans %}
                    Meet the entire staff team.
                {% endblocktrans %}
            </p>
        </div>
    </div>
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}