{% extends 'base.html' %}

{% load cms_tags %}
{% load background_tags  %}
{% load static from staticfiles %}
{% load url from future %}
{% load i18n %}

{% block meta_title %}{% trans 'Home' %} - {{ block.super }}{% endblock %}
{% block meta_description %}{% trans 'PyCon Home' %}{% endblock %}

{% block css %}
{{ block.super }}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block class %}index{% endblock %}

{% block slider %}
<a class="button button-blue register" href="{% url 'account:sign_up' %}">{% trans 'Register now!' %}</a>
<a class="button button-yellow talks" href="{% url 'main:talks' %}">{% trans 'View talks' %}</a>
<div class="flexslider">
    <ul class="slides">
        {% backgrounds 'pyconuy2012' %}
        {% for background in backgrounds %}
        <li>
            <div class="slider-box">
                <section class="{{ background.box_css_class }}">
                    <header>
                        <h1>{{ background.title }}</h1>
                    </header>
                    <p>{{ background.description }}</p>
                </section>
            </div>
            <div class="notes">
                <a rel="nofollow" href="https://maps.google.com/maps?q={{ background.latitude }},{{ background.longitude }}">{{ background.place }}</a>{% if background.author %} {% trans 'by' %} <a href="{{ background.source }}" rel="nofollow">{{ background.author }}</a>{% endif %}
            </div>
            <img src="{{ background.image.url }}" />
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block content %}
    <div class="row sponsors">
        <div class="span12">
            <h1>{% trans 'Sponsors' %}<small class="small">{% trans 'What important companies are behind this?' %}</small></h1>
            {% regroup sponsors by level as sponsors_grouped %}
            {% for sponsor_group in sponsors_grouped %}
            <div class="row sponsor-level {{sponsor_group.grouper.name}}">
                <div class="span2"><h2>{{ sponsor_group.grouper.name }}</h2></div>
                <div class="span10">
                    {% for sponsor in sponsor_group.list %}
                    <a class="sponsor-logo" href="{{ sponsor.external_url }}">
                        <img src="{{ sponsor.website_logo_url }}" alt="{{ sponsor }}" />
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <div class="row"><div class="span3 offset9">
                <a class="button button-blue" href="{% url 'main:sponsors' %}">{% trans 'View full list of Sponsors' %}</a>
            </div></div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="row">
                <div class="span6">
                    <h1>{% trans "About" %}<small class="small">{% trans 'What is PyCon Uruguay?' %}</small></h1>
                    <p class="box-text">
                        {% blocktrans %}
                        <strong>PyCon</strong> is the annual conference for the community using and developing the open-source Python programming language.
                        PyCon is an event organized by the Uruguayan Python community that mainly seeks to introduce and promote this wonderful language in Uruguay and the region.
                        Our objective is to offer universal access to Python and related tools, that's why we keep the registration at FREE cost, thanks to many voluntary workers and sponsors.
                        {% endblocktrans %}
                    </p>
                    <p class="about-small">
                        {% blocktrans %}We have been already conquered by python and are now committed to bringing it to the edge. It is time that you also meet it and start building beautiful software together.{% endblocktrans %}
                    </p>
                    <a href="{% page_id_url 'about' %}" class="link">{% trans '> Read more' %}</a>
                </div>
            </div>
            <div class="row box-social">
                <div class="span4">
                    <div class="fb-like-box" data-href="http://www.facebook.com/PyConUy" data-width="300" data-height="63" data-show-faces="false" data-stream="false" data-header="false"></div>
                </div>
                <div class="span2 ">
                     <span class="twitter-link">
                    <a  href="https://twitter.com/intent/tweet?button_hashtag=PyConUy" class="twitter-hashtag-button" data-size="large" data-related="PyConUy">Tweet #PyConUy</a>
                    <a  href="https://twitter.com/PyConUy" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @PyConUy</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </span>
                </div>
            </div>
        </div>
        <div class = "span6">
            <div class="row">
                <div class="span6">
                    <h1>{% trans 'When' %}<small class="small">{% trans 'What appointments should I cancel?' %}</small></h1>
                    <div class="box-text back box-yellow">
                        <p class="text-top">{% trans ' Saturday 10th & Sunday 11th November' %}</p>
                        <p class="text-bottom"><strong>{% trans 'Talks' %}</strong> > {% trans ' Saturday from 9:00 to 19:00' %}</p>
                        <p class="text-bottom"><strong>{% trans 'Sprints' %}</strong> >{% trans ' Sunday from 10:00 to 18:00' %}</p>
                    </div>
                    <a href="{% url 'main:schedule' %}" class="button button-yellow over pull-right">{% trans 'Schedule it' %}</a>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <h1>{% trans 'Where' %}<small class="small">{% trans 'Take me there!' %}</small></h1>

                    <div class="box-text back box-blue">
                        <p class="text-top">LATU</p>
                        <p class="text-bottom">Laboratorio Tecnológico del Uruguay</p>
                        <p class="text-bottom">Av. Italia 6201 - Montevideo</p>
                    </div>
                    <a rel="nofollow" href="https://maps.google.com.uy/maps?q=latu&hl=en&ll=-34.877306,-56.077266&spn=0.009805,0.021136&fb=1&gl=uy&hq=latu&hnear=0x959f80ffc63bf7d3:0x6b321b2e355bec99,Montevideo&cid=0,0,10519268855607095324&t=m&z=16&iwloc=A" class="button button-blue over pull-right">{% trans 'See Map' %}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h1>{% trans 'Call for Proposals' %}<small class="small">{% trans 'Closed' %}</small></h1>
            <div class="box-text back box-yellow">
                <p class="text-top"><strong>{% trans 'Opens' %}</strong> >{% trans ' August 29, 2012' %}</p>
                <p class="text-bottom"><strong>{% trans 'Deadline' %}</strong> >{% trans ' October 29, 2012' %}</p>
                <p class="text-bottom"><strong>{% trans 'Acceptance' %}</strong> >{% trans  ' November 1, 2012' %}</p>
            </div>
            
        </div>
        
    </div>
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}
