{% extends 'main.html' %}

{% load i18n %}
{% load background_tags  %}
{% load url from future %}

{% block meta_title %}{% trans 'Call for Proposals' %} - {{ block.super }}{% endblock %}
{% block meta_description %}{% trans 'About PyCon 2012 Uruguay' %}{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block slider %}
<div class="header-back">

</div>
{% endblock %}
{% block class %}no-slider about{% endblock %}
{% block content %}
    <div class="row">
        <div class="span12 pull-left">
            <h1 class="box-title">{% trans 'Call for Proposals' %}<small class="small"></small></h1>
            <p class="box-text">
                {% blocktrans %}
                Do you want to share your experience and expertise? PyCon Uruguay 2012 is looking for proposals to fill the conference presentation tracks. This meeting is scheduled for Saturday 10 and Sunday 11 of November at the LATU Conference Center in Montevideo, Uruguay.
                Proposals can be one of two kinds, traditional talks or sprints. It's planned that all presentations will take place on Saturday 10 and only one coding sprint (hackathon) on Sunday 11 of November.
                {% endblocktrans %}
            </p>
            <p class="box-text">
                {% blocktrans %}
                Presentation subjects may range from reports on open source, academic or commercial projects to tutorials and case studies. As long as a presentation is interesting and potentially useful to the Python community, it will be considered for inclusion in the program.
                We're especially interested in short presentations that will teach conference-goers something new and useful. Can you show attendees how to use a module? Explore a Python language feature? Package an application? We'd love to hear from you!
                If you have any questions, please review the information below or contact the PyCon Uruguay Program Committee at {% endblocktrans %} <a href="mailto:speakers@python.org.uy">programa@python.org.uy</a>.
            </p>

            <h2>Deadlines</h2>
            <ul class="list-text">
                <li>{% blocktrans %}Call for Proposals opens: <strong>August 29, 2012</strong>{% endblocktrans %}</li>
                <li>{% blocktrans %}Proposal submission deadline: <strong>October 1, 2012</strong>{% endblocktrans %}</li>
                <li>{% blocktrans %}Proposal acceptance: <strong>October 10, 2012</strong>{% endblocktrans %}</li>
            </ul>

            <h2>Suggested Topics</h2>
            <p class="box-text">
                {% blocktrans %}Suitable topics for PyCon presentations include, but are not limited to:{% endblocktrans %}</p>
            <ul class="list-text">
                <li>{% blocktrans %}Core Python, including Python 3000{% endblocktrans %}</li>
                <li>{% blocktrans %}Other implementations: IronPython, Jython, PyPy, and Stackless.{% endblocktrans %}</li>
                <li>{% blocktrans %}Web programming (Django, Pylons, Zope, TurboGears, WSGI, Google App Engine, ...){% endblocktrans %}</li>
                <li>{% blocktrans %}Python libraries and extensions{% endblocktrans %}</li>
                <li>{% blocktrans %}Business applications{% endblocktrans %}</li>
                <li>{% blocktrans %}Concurrency{% endblocktrans %}</li>
                <li>{% blocktrans %}Databases{% endblocktrans %}</li>
                <li>{% blocktrans %}Documentation{% endblocktrans %}</li>
                <li>{% blocktrans %}Education{% endblocktrans %}</li>
                <li>{% blocktrans %}Embedding and extending Python{% endblocktrans %}</li>
                <li>{% blocktrans %}Game programming{% endblocktrans %}</li>
                <li>{% blocktrans %}GUI programming{% endblocktrans %}</li>
                <li>{% blocktrans %}Network programming{% endblocktrans %}</li>
                <li>{% blocktrans %}Open source Python projects{% endblocktrans %}</li>
                <li>{% blocktrans %}Packaging issues{% endblocktrans %}</li>
                <li>{% blocktrans %}Programming tools{% endblocktrans %}</li>
                <li>{% blocktrans %}Project best practices{% endblocktrans %}</li>
                <li>{% blocktrans %}Science and maths{% endblocktrans %}</li>
                <li>{% blocktrans %}Social issues{% endblocktrans %}</li>
                <li>{% blocktrans %}System administration with Python{% endblocktrans %}</li>
                <li>{% blocktrans %}Testing{% endblocktrans %}</li>
            </ul>

            <h2>Talk Format</h2>
            <p class="box-text">
                {% blocktrans %}
                    The preferred length for talks is 30 minutes. You can request a 45-minute extended slot, but proposals requiring 45 minutes will be reviewed more stringently. 45-minute slots are, as a rule of thumb, reserved for how-to talks rather than talks about things you made, saw, or did.
                    Session lengths include time for audience questions. You should budget at least five minutes for questions; for example, a 30-minute talk will be 25 minutes of presentation and 5 minutes of questions.
                {% endblocktrans %}
            </p>

            <h2>Presentation Recording</h2>
            <p class="box-text">
                {% blocktrans %}
                We hope to record presentations, though this is pending sponsorship support and not confirmed.
                If you do not wish to have your talk recorded please note this in your submission. Doing so will not influence the selection process in any way.
                {% endblocktrans %}
            </p>

            <h2>Paper Publication</h2>
            <p class="box-text">
                We would prefer that papers for standard length talks (30 minutes) be no more than 5 A4 pages of 11-point type with reasonable margins and papers for long talks (45 minutes) be no more than 10 pages. Appropriate file formats include any file that can be read with Open Office (which includes plain text and HTML with minimal mark-up) or a PDF viewer. Slides (even those accompanied by speaker notes) will not be printed in the proceedings. All provided documentation must be released with a CC Attribution-ShareAlike 3.0 Unported license (http://creativecommons.org/licenses/by-sa/3.0/deed.en_US).
            </p>

            <h2>How to Submit</h2>
            <p class="box-text">
                {% blocktrans %}
                Use the PyCon Uruguay {% endblocktrans %}<a href="{% url 'main:proposal_add' %}">Online Proposal Submission system</a>{% blocktrans %} to send us your proposals. You must first create an account on the website (and be logged in) in order to submit a proposal.
                The primary author should submit the proposal. Additional authors can be added to a proposal on request (they must have accounts too).
                {% endblocktrans %}
            </p>
            <a href="{% url 'main:proposal_add' %}" class="button button-yellow pull-left common">{% trans 'Send a Proposal' %}</a>
        </div>
    </div>
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}