{% extends 'base.html' %}

{% load cms_tags %}

{% load i18n %}
{% load url from future %}

{% block meta_title %}{% trans "Send a proposal" %} - {{ block.super }}{% endblock %}
{% block meta_description %}{% trans "Send a proposal" %}{% endblock %}

{% block content %}
<h1>{% trans "Send a proposal" %}</h1>
<div class="row">
    <div class="span8">
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <h3>{% trans 'Your proposal:' %}</h3>
            {{ form }}
            <div class="form-actions">
                <button type="submit" class="button button-blue">{% trans "Send" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}