{% extends 'base.html' %}

{% load i18n %}
{% load cms_tags %}
{% load background_tags  %}
{% load url from future %}

{% block meta_title %}{% trans 'Schedule' %} - {{ block.super }}{% endblock %}
{% block meta_description %}{% trans 'About PyCon 2012 Uruguay' %}{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block class %}no-slider about{% endblock %}
{% block content %}
    <div class="row">
        <div class="span12 pull-left">
            <h1>{% trans 'Schedule' %}<small class="small"></small></h1>
            <p>
                {% blocktrans %}Coming soon...{% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}We are receiving talks and sprint proposals. Do you have a killer presentation in mind? {% endblocktrans %}
            </p>
            <p>
                <a class="button button-blue" href="{% page_id_url 'proposal-info' %}">{% trans 'Send a Proposal' %}</a>
            </p>
            <h2>{% blocktrans %}Register to the Event{% endblocktrans %}</h2>
            <p>
                {% blocktrans %}You don't need to wait until the schedule is published.{% endblocktrans %}
            </p>
            <p>
                <a class="button button-yellow" href="{% url 'account:sign_up' %}">{% trans 'Sign up now' %}</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}