{% extends 'base.html' %}

{% load i18n %}
{% load cms_tags %}
{% load background_tags  %}
{% load url from future %}

{% block meta_title %}{% trans 'Schedule' %} - {{ block.super }}{% endblock %}
{% block meta_description %}{% trans 'About PyCon 2012 Uruguay' %}{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block class %}no-slider about{% endblock %}
{% block content %}
    <div class="row">
        <div class="span12 pull-left">
            <h1 class="box-title">{% trans 'Schedule' %}<small class="small"></small></h1>
            <p class="box-text">
                {% blocktrans %}
                Comming soon...
                {% endblocktrans %}
            </p>
            <a class="button button-blue" href="{% page_id_url 'proposal-info' %}">{% trans 'Send a Proposal' %}</a>
        </div>
    </div>
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}