{% extends 'base.html' %}

{% load i18n %}
{% load cms_tags %}
{% load background_tags  %}
{% load url from future %}

{% block meta_title %}{% trans 'Speakers' %} - {{ block.super }}{% endblock %}
{% block meta_description %}{% trans 'Speakers PyCon 2012 Uruguay' %}{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block class %}no-slider speakers{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span12">
                <h1>{% trans 'Speakers' %}</h1>
            </div>
        </div>
        {% for speaker in speakers %}
        <a name="{{speaker.name}}"></a>
        <div class="row speaker">
            <div class="span3">
                <img src="{{ speaker.photo.url }}" alt="{{ speaker.name }}" />
            </div>
            <div class="span9">
                <div class="row">
                    <div class="span9">
                        <h2 class="speaker">{{ speaker.name }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="span9">
                        <p>
                            {{speaker.biography}}
                        </p>
                        {% if speaker.twitter_username %}
                        <p>
                            <a href="http://twitter.com/{{speaker.twitter_username}}">@{{speaker.twitter_username}}</a>
                         </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="span12">
                <a class="button button-blue register speakers" href="{% url 'account:sign_up' %}">{% trans 'Register now!' %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}