{% extends 'base.html' %}

{% load i18n %}
{% load cms_tags %}
{% load background_tags  %}
{% load url from future %}

{% block meta_title %}{% trans 'Talks' %} - {{ block.super }}{% endblock %}
{% block meta_description %}{% trans 'Talks PyCon 2012 Uruguay' %}{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block class %}no-slider talks{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span12">
                <h1>{% trans 'Talks' %}</h1>
            </div>
        </div>
        {% for proposal in proposals %}
        <a name="{{proposal.title}}"></a>
        <div class="row proposal headline">
            <div class="span12">
                <h2>{{proposal.title}}</h2>
            </div>
        </div>
        <div class="row proposal speaker">
            <div class="span3">
                <div>
                    {% if proposal.speaker.photo %}
                    <img src="{{ proposal.speaker.photo.url }}" alt="{{ proposal.speaker.name }}" />
                    {% endif %}
                </div>
                <a href="{% url 'main:speakers' %}#{{proposal.speaker.name}}">{{proposal.speaker.name}}</a>
            </div>
            <div class="span9">
                {{ proposal.description }}
                <p>
                    <em>Level: {{proposal.get_audience_level_display}}</em>
                </p>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="span12">
                <a class="button button-blue register speakers" href="{% url 'account:sign_up' %}">{% trans 'Register now!' %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}